<!-- views/partials/navbar.ejs -->

<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl" href="/">Lego Collection</a>
  </div>

  <!-- Mobile dropdown for View Collection, About, and Account -->
  <div class="dropdown sm:hidden">
    <label tabindex="0" class="btn btn-ghost">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
      </svg>
    </label>
    <ul tabindex="0" class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
      <li><a class="<%= (page == "/lego/sets") ? 'active' : '' %>" href="/lego/sets">View Collection</a></li>
      <li><a class="<%= (page == "/about") ? 'active' : '' %>" href="/about">About</a></li>
      <li>
        <details>
          <summary>
            <a class="btn btn-ghost" href="#">Account</a>
          </summary>
          <ul class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow bg-base-100 rounded-box">
            <% if (!session.user) { %>
              <li><a class="<%= (page == "/login") ? 'active' : '' %>" href="/login">Login</a></li>
              <li><a class="<%= (page == "/register") ? 'active' : '' %>" href="/register">Register</a></li>
            <% } else { %>
              <li><a class="<%= (page == "/lego/addSet") ? 'active' : '' %>" href="/lego/addSet">Add to Collection</a></li>
              <li><a class="<%= (page == "/userHistory") ? 'active' : '' %>" href="/userHistory">User History</a></li>
              <li><a href="/logout">Logout</a></li>
            <% } %>
          </ul>
        </details>
      </li>
    </ul>
  </div>

  <!-- Desktop navigation -->
  <div class="navbar-center hidden sm:flex flex-1 justify-end">
    <ul class="menu menu-horizontal px-1">
      <li><a class="<%= (page == "/lego/sets") ? 'active' : '' %>" href="/lego/sets">View Collection</a></li>
      <li><a class="<%= (page == "/about") ? 'active' : '' %>" href="/about">About</a></li>
      <li class="sm:hidden">
        <a class="btn btn-ghost" href="#">Account</a>
      </li>
    </ul>
  </div>

  <!-- Dropdown for Account on desktop -->
  <div class="dropdown hidden sm:flex">
    <label tabindex="0" class="btn btn-ghost">
      <% if (session.user) { %>
        Account: <%= session.user.userName %>
      <% } else { %>
        Account
      <% } %>
    </label>
    <ul tabindex="0" class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow bg-base-100 rounded-box">
      <% if (!session.user) { %>
        <li><a class="<%= (page == "/login") ? 'active' : '' %>" href="/login">Login</a></li>
        <li><a class="<%= (page == "/register") ? 'active' : '' %>" href="/register">Register</a></li>
      <% } else { %>
        <!-- Submenu for Account on desktop -->
        <li><a class="btn btn-ghost" href="#">Account</a>
          <ul class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow bg-base-100 rounded-box">
            <li><a class="<%= (page == "/lego/addSet") ? 'active' : '' %>" href="/lego/addSet">Add to Collection</a></li>
            <li><a class="<%= (page == "/userHistory") ? 'active' : '' %>" href="/userHistory">User History</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      <% } %>
    </ul>
  </div>
</div>
